@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

//Primary
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

//Neutral
$transparent-white: hsla(0, 0%, 100%, 0.75); //paragraphs
$very-light-gray: hsl(0, 0%, 95%); //background, headings, buttons

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  &::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.5rem;
  // font-family: "Big Shoulders Display", cursive;
}
